@font-face{
    font-family:'digital-clock-font';
    src: url('digital-7/digital-7.ttf');
}
body{
    padding: 0;
    margin: 0;
}
.dark-bg{
    width: 100vw;
    height: 100vh;
    background-color: #181717;
    /* background-image: url('../electron_apps/screen_recorder/images/backgroundrr.jpg') */
}
.timer-container{
    padding-top: 100px;
    width: 100%;
}
.timer{
    display: flex;
    justify-content: center;
    color: #16f316;
    /* width: max-content; */
    /* border: 1px solid white; */
    margin: auto;
    margin-bottom: 30px;
}
.timer > .number {
    /* background-color: #f1f1f1; */
    margin: 1vw;
    padding: 2vw;
}
.timer > .semi{
    margin: 1vw;
    padding-top: 20px;
    padding-bottom: 20px;
}
.timer > div{
    font-size: 22vw;
    font-family: 'digital-clock-font';
}
.timer-input{
    display: flex;
    width: max-content;
    margin: auto;
    /* border: 1px solid white; */
    padding: 20px;
}

.inputs > label > input {
    width: 40px;
    margin-right: 5px;
    background-color: #c4bfbf;
    border: none;
}
label{
    color: wheat;
}
.buttons{
    width: max-content;
    margin: auto;
    padding: 10px;
}
button{
    border: none;
    background-color: white;
    color: #181717;
    width: 70px;
}